.table-btn {
    width: 75%;
    height: 60px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    top: 10%;
    right: 11%;
    float: right;
}

.table-back{
    width: 20%;
    height: 50px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    top: 10%; 
    float: center;
}

.table-back2{
    margin-top : 40px;
    width: 20%;
    height: 50px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    top: 10%; 
    float: center;
}