#wcalendar-main{
	heigth: 100%;
	width: 70%;
	float: right;
	border-radius: 20px;
	margin: auto 20px;
	padding: 20px;
	background-color: rgba(123, 123, 123, 0.8);
}

#wcalendar{
	
}
.wcalendar-sidebar{
	background-color: rgba(123, 123, 123, 0.8);
    border-radius: 20px;
	width: 20%;
	heigth: 100%;
	float: left;
	text-align: center;
	margin-left: 25px;
}

#absence{
	margin-top:20px;
}

#absencerequest{
	position: relative;
	margin: 0 auto;
	vertical-align:middle;
}

#startApBtn{
	position: relative;
	margin: 0 auto;
	vertical-align:middle;
}